<div class="app-card-container">
  <div class="card">
    <div class="about-container">
      <h1>Reliable. Gamer. Father. Mentor.</h1>

      <div class="row">
        <div class="col-md-4">
          <%= image_tag "profile_image.jpg", width: 350, alt: "Profile Image", class: "profile-img" %>
        </div>

        <div class="col-md-1">
        </div>

        <div class="col-md-7">
          <p>Software engineer who loves experimenting, creating and reaching new limits with an innate desire to help, encourage and grow people. I thrive on contributing and making a difference in a world that is always in need of a little sunshine.</p>

          <p>I am passionately curious to learn and try new things to use my analytical skills, come up with intuitive solutions and solve complex problems. I come from a very fast-paced agile background where problems need immediate responses and clever solutions.</p>

          <p>My experience includes working solo and on teams, creating projects with deadlines, managing and developing teams to create the best experience with the highest quality for everyone. I work closely with project managers and my team to create great end results.</p>
        </div>
      </div>
    </div>
  </div>
</div>
