<h1>Would you like to work together?</h1>
<hr>
<div class="row">
  <div class="col-md-6">
    <h4>Office Address</h4>

    <p>Aurora, Co</p>

    <h4>Phone</h4>

    <p><%= number_to_phone "5555555555" %></p>

    <h4>Email</h4>

    <p><a href="mailto:ryanmillergm@gmail.com?subject=PortfolioContact" "email me">Email Me</a> </p>
    
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d196496.94424448448!2d-104.82691847187819!3d39.68875084232718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c588622ba2b9b%3A0x8441e0688ba2e678!2sAurora%2C%20CO!5e0!3m2!1sen!2sus!4v1586911379228!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</div>
