<div class="inner cover">
  <h1 class="cover-heading">Curiosity, Creativity, Efficiency, Effectiveness.</h1>
  <p class="lead">
    <span class="element"></span>
  </p>
  <p class="lead">
    <%= link_to "Get To Know Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
