<div class="inner cover">
  <h1 class="cover-heading">Curiosity, Creativity, Efficiency, Effectiveness.</h1>
  <p class="lead">Daily dissecting the pieces to what makes things work, configuring innovative new concepts and intuitively designing for maximum output.</p>
  <p class="lead">
    <%= link_to "Get To Know Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
